.skills__main-title,
.skills__subtitle {
    text-transform: uppercase;
}
.skills__main-title {
    color: #575153;
    font-size: 18px;
}
.skills__subtitle {
    color: #8e8e8e;
    font-size: 13px;
}
.skills__text {
    color: #c3c2c2;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
}
.skills__hand-designed img,
.skills__our-values img,
.skills__ethical-trading img {
    display: inline-block;
    width: 100%;
    max-width: 485px;
}
.skills__hand-designed,
.skills__our-values,
.skills__ethical-trading,
.skills__awards {
    position: relative;
}
.skills__ethical-trading {
    top: -80px;
}
.skills__our-values,
.skills__ethical-trading,
.skills__awards {
    width: 100%;
    max-width: 485px;
}
.skills__hand-designed .skills__description {
    margin-left: 25px;
    display: inline-block;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    max-width: max-content;
    border-bottom: 1px solid #eeeeee;
}
.skills__description {
    margin: 0 10px;
}
.skills__our-values{
    float: left;
    margin-top: 40px;
}
.skills__ethical-trading,
.skills__awards  {
    float: right;
    top: -70px;
}
.skills__description a {
    color: #00c8c8;
    text-decoration: none;
}
.skills__image {
    display: inline-block;
}
@media all and (max-width: 1000px) {
    .skills__ethical-trading,
    .skills__our-values,
    .skills__awards {
        float: none;
        max-width: none;
        top: auto; 
        margin: 30px 0;
    }
    .skills__awards {
        max-width: max-content;
        margin: 20px auto;
    }
    .skills__ethical-trading .skills__description,
    .skills__our-values .skills__description {
        border-bottom: 1px solid #eeeeee;
        margin-left: 25px;
        display: inline-block;
        position: absolute;
        top: 20%;
        transform: translateY(-20%);
    }
    .skills__hand-designed .skills__description,
    .skills__our-values .skills__description {
        top: 0;
        transform: translateY(0);
    }
    .skills__description h3,
    .skills__description h5 {
        margin: 10px 0;
    }
    .skills__ethical-trading .skills__description,
    .skills__our-values .skills__description,
    .skills__hand-designed .skills__description {
        margin: 0 20px;
    }
    .skills__ethical-trading img,
    .skills__our-values img,
    .skills__hand-designed img {
        padding-left: 20px;
        max-width: 400px;
    }

}
@media all 
and (max-width: 760px) {
    .skills__ethical-trading .skills__description,
    .skills__our-values .skills__description,
    .skills__hand-designed .skills__description {
        margin: 0 10px;
    }
    .skills__hand-designed img,
    .skills__our-values img,
    .skills__ethical-trading img {
        display: block;
        max-width: max-content;
        padding-left: 0;
        margin: 0 auto;
    }
    .skills__image {
        padding: 0 10px;
    }
    .skills__ethical-trading .skills__description,
    .skills__our-values .skills__description,
    .skills__hand-designed .skills__description {
        position: static;
        transform: none;
        max-width: max-content;
    }
}
@media all 
and (max-width: 480px) {
    .skills__awards {
        margin: 0 auto;
    }
    .skills__awards img {
        display: block;
        margin-top: 20px;
    }
}
