@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jtpj6t');
    src:  url('../fonts/icomoon.eot?jtpj6t#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jtpj6t') format('truetype'),
      url('../fonts/icomoon.woff?jtpj6t') format('woff'),
      url('../fonts/icomoon.svg?jtpj6t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style-type: none;
}
nav {
    height: 80px;
}
header {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
}
.header-banner {
    margin-top: 125px;
}
.top-bar,
.copyright-bar {
    background-color: #333333;
    font-size: 13px;
    font-weight: bold;
    color: #606060;
}
.bar-container,
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.currency,
.copyright-bar__copyright {
    padding: 15px 10px;
    display: inline-block;
}
.clearfix {
    clear: both;
    height: 0
}
#currency {
    border: none;
    background-color: #333333;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: bold;
    color: #606060;
}
#currency:hover,
#currency:active,
#currency:focus {
    outline: none;
    border: none;
}
#currency::after {
    position: absolute;
    content: '';
    color: #606060;
    width: 20px;
    height: 20px;
    display: block;
}
select:hover {
    outline: none;
    background-color: #333333;
    color: #606060;
}
.login,
.copyright-bar__dev-by,
.menu,
.shopping-cart,
.copyright-bar__design-by {
    float: right;
}
.login {
    margin-right: 50px;
}
.login .login__sign-in,
.login .login__register {
    display: inline-block;
    padding: 15px;
}
.login a {
    text-decoration: none;
    font-weight: bold;
}
.copyright-bar__copyright,
.copyright-bar a,
.login a,
.shopping-cart {
    color: #8b8b8b;
}
.shopping-cart {
    padding: 15px 50px;
    position: relative;
    font-weight: normal;
}
.shopping-cart:hover,
.login__register:hover,
.login__sign-in:hover {
    background-color: #00c8c8;
}
.shopping-cart:hover,
.shopping-cart:hover::after,
.shopping-cart:hover::before,
.login__sign-in:hover a,
.login__register:hover a {
    color: #ffffff;
}
.shopping-cart::before {
    content: "\e902";
    left: 5px;
}
.shopping-cart::before,
.shopping-cart::after,
.menu li::after {
    color: #8b8b8b;
    position: absolute;
    width: 25px;
    top: 15px;
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: normal;
}
.shopping-cart::after {
    content: "\e900";
    right: 0;
}
.shopping-cart__item {
    display: none;
    position: absolute;
    width: 200px;
    left: 0;
}
.shopping-cart__item li {
    padding: 15px 0px;
}
.shopping-cart:hover .shopping-cart__item {
    display: block;
    background-color: #bbbbbb;
    transform: translateY(2px);
    z-index: 1;
}
.logo {
    color: #222222;
    text-transform: uppercase;
    font-size: 1.7em;
    float: left;
    margin-left: 10px;
}
.logo a {
    text-decoration: none;
    color: #222222;
}
.copyright-bar__dev-by,
.copyright-bar__design-by {
    padding: 15px 10px;
    margin-left: 20px;
}
.header-image {
    max-height: 630px;
    width: 100%;
}
.header-banner {
    position: relative;
}
.header-banner__button {
    padding: 15px 30px;
    text-decoration: none;
    color: #555454;
    text-transform: uppercase;
    border: 2px solid #555454;
    position: absolute;
    bottom: 10%;
    right: 15%;
    font-weight: bold;
    letter-spacing: 2px;
}
.header-banner__button:hover {
    background-color: #00c8c8;
    color: #ffffff;
    border-color: #00c8c8;    
}
.bold {
    font-weight: bold;
}
.title {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
}
.title h1,
.title h3 {
    font-weight: normal;
}
.title h1 {
    font-size: 48px;
}
.title h3 {
    font-size: 30px;
}
.menu {
    margin: 0;
    margin-right: 30px;
    margin-top: 20px;
}
.menu > li {
    display: inline-block;
    margin-right: 45px;
    position: relative;
}
.menu a,
.menu label {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    font-weight: bold;
    font-size: 0.8em;
}
.menu > li:not(:nth-child(3))::after {
    left: 0;
    top: 20px;
    content: "\e900";
}
.menu > li:hover > label,
.menu > li:hover > a,
.menu li:hover::after,
.submenu ul li:hover a {
    color: #00c8c8;
}
.submenu {
    padding-left: 0px;
    font-weight: bold;
    background-color: #ffffff;
    max-height: 0rem;
    max-width: 0;
    overflow: hidden;
    transition: max-height 3s;
    position: absolute;
}
.submenu > li:not(:last-child) {
    display: inline-block;
}
.submenu > li > label {
    display: block;
    text-transform: none;
    font-size: 1em;
    color: #575153;
    margin-left: 20px;
}
.submenu_wide {
    width: 400px;
}
.submenu_tight {
    width: 220px;
}
input.submenu-opened:checked ~ .submenu {
    left: 0;
    top: 40px;
    box-shadow: 1px 8px 10px 2px #555454;
    max-height: 100rem;
    max-width: 100rem;
}
.submenu ul {
    margin: 20px;
    float: left;
    padding-left: 0px;
    color: #575153;
}
.submenu li {
    padding: 5px;
}
.submenu > li:first-child {
    margin-top: 20px;
}
.submenu a {
    font-weight: normal;
    color: #8b8b8b;
}
.submenu .sale {
    clear: both;
    display: block;
    color: #ffffff;
    background-color: #333333;
    text-transform: uppercase;
    max-width: 420px;
    margin: 20px;
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
}
.sale strong,
.banners__award strong {
    display: block;
}
.search-form {
    position: relative;
    float: right;
    margin-right: 10px;
}
.search-form__input {
    padding: 5px 10px;
    border: 1px solid #eeeeee;
}
.search-form__button {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 94%;
    width: 30px;  
    border: none;
    background-color: #ffffff;  
}
.search-form__button:focus,
.search-form__input:focus {
    outline: none;
}
.search-form__button::before {
    content: "\e903";
    font-family: 'icomoon';
    color: #8b8b8b;
}
.container .logo,
.container .search-form,
.container .menu {
    margin-top: 20px;
}
.footer-main {
    background-color: #ffffff;
}
.footer-menu > ul,
.banners {
    margin: 10px;
}
.banners {
    display: flex;
}
.banners__award,
.banners__social-networks {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    max-width: 488px;
}
.banners__award {
    background-color: #222222;
    margin: 40px 12px 40px 0px;
}
.banners__award a {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    margin: 55px 0;
    display: block;
}
.banners__social-networks {
    background-color: #00c8c8;
    margin: 40px 0px 40px 12px;
}
.banners__social-networks ul {
    padding-left: 0;
    margin: 65px 0;
}
.banners__social-networks li {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin:0 15px;
}
.banners__social-networks a {
    width: 100%;
    height: 35px;
    display: block;
    background-image: url(../images/soc-net-sprite.png);
    background-repeat: no-repeat;
}
.banners__social-networks_facebook {
    background-position: left 3px top 0;
} 
.banners__social-networks_twitter {
    background-position: right 2px top 0;
}
.banners__social-networks_instagram {
    background-position: right -63px top 0px;
}
.banners__social-networks .banners__social-networks_pinterest {
    width: 30px;
    background-position: left -65px top 0px;
}
.footer-main {
    background-color: #f8f8f8;
}
.footer-menu {
    display: flex;
    justify-content: space-between; 
}
.footer-menu ul {
    padding-left: 0px;
    font-weight: bold;
    text-transform: uppercase;
    color: #575153;
    font-size: 0.9em;

}
.footer-menu li {
    font-weight: normal;
    text-transform: none;
    color: #8b8b8b;
    padding: 5px 0;
}
.footer-menu li:first-child {
    margin-top: 20px;
}
.footer-menu a {
    text-decoration: none;
    color: #8b8b8b;
}
.footer-menu a:hover {
    color: #00c8c8;
}
li .mailto {
    text-decoration: underline;
}
.footer-main .bar-container {
    margin-top: 30px;
}
section {
    margin: 60px 0;
}
nav input[type="checkbox"] {
    display: none;
    cursor: initial;
}
label.toggle-menu {
    display: none;
    float: right;
    margin: 25px 30px; 
}
.lookbook {
    display: flex;
    justify-content: space-between;
}
.lookbook__men,
.lookbook__women,
.lookbook__you {
    height: 440px;
    width: 100%;
    max-width: 550px; 
    display: flex;
    flex-direction: column;
    padding: 25px
}
.lookbook h1 {
    width: 50%;
    color: #575153;
    text-transform: uppercase;
    font-weight: normal;
    text-align: end;
}
.lookbook strong {
    display: block;
    font-weight: bold;
}
.lookbook p {
    text-align: right;
    color: #727272;
    width: 50%;
    font-size: 0.8em;
}
.lookbook p,
.lookbook h1,
.lookbook__view-now {
    align-self: flex-end;
}
.lookbook__men {
    background-image: url(../images/men-lookbook-back.jpg);
    margin-right: 5px;
}
.lookbook__women {
    background-image: url(../images/women-lookbook-back.jpg);
}
.lookbook__you {
    background-image: url(../images/your-lookbook-back.jpg);
    margin-left: 5px;
}
.lookbook__men,
.lookbook__women,
.lookbook__you {
    background-repeat: no-repeat;
    background-size: 100% 440px;
}

.lookbook__view-now {
    color: #555454;
    border: 2px solid #555454;
    padding: 10px 30px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    margin-top: 20px;
}
.lookbook__view-now:hover {
    background-color: #00c8c8;
    color: #ffffff;
    border-color: #00c8c8;
}
hr {
    border: 1px solid #eeeeee;
}
.products__menu,
.lookbooks__menu {
    margin-top: 50px;
    padding-left: 0;
}
.products__menu li,
.lookbooks__menu li {
    display: inline-block;
    margin-right: 40px;
}
.products__menu a,
.lookbooks__menu a {
    color: #727272;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}
.products__menu a:hover,
.lookbooks__menu a:hover {
    color: #00c8c8;
}
.product__info-btn,
.lookbook-item__favorites-btn,
.lookbook-item__info-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 40px;
    display: none;
}
.product__info-btn a,
.lookbook-item__favorites-btn a,
.lookbook-item__info-btn a {
    color: #ffffff;
    text-decoration: none;
}
.product__info-btn a:hover,
.lookbook-item__favorites-btn a:hover,
.lookbook-item__info-btn a:hover {
    color: #00c8c8;
}
.product:hover .product__info-btn,
.lookbook-item:hover .lookbook-item__favorites-btn,
.lookbook-item:hover .lookbook-item__info-btn {
    display: block;
    z-index: 1;
}
.product .product__price,
.lookbook-item .lookbook-item__id {
    color: #929191;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
}

@media all and (max-width: 1200px) {
    .menu {
        background-color: #ffffff;
        position: static;
        padding: 0;
        background-color: #eeeeee;
        width: 0;
        max-height: 0;
        overflow: hidden;
        margin-right: 0;
    }
    .header-banner {
        margin-top: 180px;
    }
    .title h1 {
        font-size: 40px;
    }
    .title h3 {
        font-size: 22px;
    }
    .menu .submenu li {
        padding: 0;
        transition: background-color .5s;
    }
    .submenu ul {
        max-height: 0rem;
    }
    .menu .submenu label:hover,
    .submenu ul {
        background-color: #cccccc;
    }
    .submenu li:hover a {
        color: #8b8b8b;
    }
    .submenu ul > li:hover {
        background-color: #bbbbbb;
    }
    .submenu > li:not(:last-child) {
        display: block;
    }
    .submenu > li > label {
        margin-left: 0;
    }
    .menu,
    .submenu_tight,
    .submenu_wide {
        width: 100%;
    }
    .menu .submenu {
        background-color: #dddddd;
    }
    .submenu ul {
        float: none;
        padding: 0;
        display: none;
    }    
    .submenu li:first-child,
    .submenu ul {
        margin: 0;
    }
    .footer-menu {
        flex-wrap: wrap;    
    }
    .menu label {
        cursor: pointer;
    }
    .menu > li {
        display: block;
        margin-right: 0;
    }
    .menu a,
    .menu label {
        display: block;
        padding: 10px 20px;
    }
    .menu > li:not(:nth-child(3))::after {
        top: 5px;
        left: unset;
        right: 20px;
    }
    label.toggle-menu,
    label.submenu {
        display: block;
    }
    label.toggle-menu,
    input.toggle-menu {
        float: left;
        cursor: pointer;
    }
    nav {
        position: relative;
        width: 100%;
        display: block;
        clear: both;
    }
    input.toggle-menu:checked ~ .menu {
        max-height: 100rem;
        width: 100%;
        transition: max-height 3s;
    }
    input.submenu-opened:checked ~ .submenu,
    input.submenu-second:checked ~ ul {
        position: static;
        box-shadow: none;
    }
    input.submenu-second:checked ~ ul {
        display: block;
        max-height: 100rem;
    }    
    .menu li:hover .submenu {
        box-shadow: none;
    }
    .icon-menu:before {
        position: absolute;
        content: "\e901";
        width: 25px;
        top: 20px;
        right: 20px;
        font-family: 'icomoon';
        font-size: 30px;
    }
    .lookbook {
        flex-direction: column;
        font-size: 0.9rem;
    }
    .lookbook__men,
    .lookbook__women,
    .lookbook__you {
        margin: 10px auto;
        box-sizing: border-box;
    }
    h1 {
        font-size: 1.5em;
    }
    .header-banner__button {
        padding: 10px 20px;
        letter-spacing: normal;
    }
    .menu .submenu .submenu__sale {
        display: none;
    }
}
@media all
and (max-width: 760px) {
    .menu {
        left: 0px;
    }
    .logo {
        font-size: 1.4em;
    }
    .submenu {
        z-index: 1;
    }
    .submenu__sale .sale {
        width: 90%;
        font-size: 20px;
        margin: 10px;
    }
    .currency,
    .login,
    .shopping-cart,
    .copyright-bar__copyright,
    .copyright-bar__design-by,
    .copyright-bar__dev-by {
        display: block;
        float: none;
    }
    .shopping-cart {
        width: 70px;
    }
    .banners {
        flex-direction: column;
    }
    .banners__award,
    .banners__social-networks {
        max-width: none;
        margin: 20px 0 20px 0;
    }
    .header-banner {
        margin-top: 265px;
    }
    .lookbook__men,
    .lookbook__women,
    .lookbook__you {
        height: 360px;
        padding: 15px;
        background-size: 100% 360px;
        border: 10px solid #ffffff;
    }
    .lookbook__view-now {
        padding: 5px 15px;
    }
    .header-banner__button a {
        padding: 10px 20px;
        letter-spacing: normal;
    }
    .header-banner__button {
        padding: 10px;
        font-size: 0.8em;
    }
    .title h1 {
        font-size: 30px;
    }
    .title h3 {
        font-size: 16px;
    }
    .bar-container .shopping-cart,
    .copyright-bar__copyright,
    .copyright-bar__design-by,
    .copyright-bar__dev-by {
        margin-left: 10px;
    }
    .currency {
        margin-left: 5px;
    }
}
@media all and (max-width: 480px) {
    .lookbook__men,
    .lookbook__women,
    .lookbook__you {
        height: 300px;
        padding: 15px;
        background-size: 100% 300px;
    }
    .lookbook h1 {
        font-size: 1.3em;
    }
    .lookbook__view-now {
        margin-top: 10px;
        font-size: 0.9em;
    }
    .header-banner {
        margin-top: 255px;
    }
    .header-banner__button {
        padding: 5px;
        font-size: 0.7em;
    }
    .title h1 {
        font-size: 20px;
    }
    .title h3 {
        font-size: 10px;
    }
    .search-form {
        float: left;
        margin-left: 10px;
    }
    .icon-menu:before {
        position: static;
    }
    nav {
        clear: none;
    }
    label.toggle-menu {
        float: right;
        margin: 20px 10px 0 10px;
    }
    .container .menu {
        margin-top: 0;
    }
    .products__menu {
        flex-direction: column;
    }
}