@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.product {
    position: relative;
}
.small-products-block .product:last-child,
.right-products-block {
    margin-left: 30px;
}
.slider-products,
.product .slider__item {
    max-width: 770px;
    width: 100%;
}
.products__menu {
    display: flex;
    flex-wrap: wrap;
}
.products__menu li {
    margin-top: 15px;
}
.product__description {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    z-index: 2;
    bottom: -135px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.product__description h5 {
    text-transform: uppercase;
}
.product__description p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.9em;
    color: #929191;
}
.product:hover .product__description {
    display: inline-block;
    box-shadow: 0px 15px 30px 5px #888686;
}
.product:hover {
    box-shadow: 0px 0px 30px 5px #888686;    
}
.product__buttons {
    padding-left: 0;
}
.product__buttons li {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-family: 'icomoon';
    border-radius: 10em;
    background-color: #555454;
}
.product__buttons a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 10em;
    font-size: 1.3em;
    line-height: 1.4;
}
.product__buttons li:hover {
    background-color: #00c8c8;
}
.products-items {
    margin: 20px 0;
}
.products-items,
.left-products-block,
.right-products-block,
.small-products-block {
    display: flex;
}
.left-products-block,
.right-products-block {
    flex-direction: column;
}
.small-products-block .product__description {
    bottom: -150px;
}
.small-products-block .slider-products,
.small-products-block .product .slider__item {
    max-width: 370px;
    width: 100%;
}
.left-products-block,
.right-products-block {
    justify-content: space-between;
}
.left-products-block {
    margin-left: 0;
}
.right-products-block .small-products-block {
    margin-top: 20px;
}
.left-products-block .small-products-block {
    margin-bottom: 20px;
}
.product__price_sale {
    text-decoration: line-through;
}
.product__price_sale ~ .product__price {
    left: 70px;
}
.product__price {
    z-index: 1;
}
.slider.slider-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 140px;
    display: none;
} 
.product:hover .slider.slider-nav,
.product:hover .slider-nav .slick-list {
    display: block;
    overflow: initial;
}
.slider.slider-nav, 
.slider-nav .slick-list {
    width: 140px;
}
.slider-products img,
.slider-nav img {
    width: 100%;
}
.slider-nav img {
    margin: 5px 0;
    box-shadow: 0px 0px 4px 3px #bbbbbb;
}
.slider-nav__item:focus {
    outline: none;
}
.slider-nav__image {
    height: 120px;
}
.small-products-block .slider.slider-nav, 
.small-products-block .slider-nav .slick-list {
    width: 70px;
}
.small-products-block .slider-nav__image {
    height: 80px;
}
@media all and (max-width: 1600px) {
    .products-items {
        flex-direction: column;
    }
    .right-products-block,
    .left-products-block {
        margin: 20px auto;
        margin-bottom: 0;
    }
    .right-products-block {
        flex-direction: column-reverse;
    }
    .right-products-block .small-products-block {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .products__menu {
        margin-left: 20px;
    }
    
}
@media all and (max-width: 900px) {
    .slider-products,
    .small-products-block .slider-products,
    .slider__image  {
        max-width: 370px;
        width: 100%;   
        height: 500px; 
    }
    .small-products-block {
        flex-direction: column;
    }
    .small-products-block .product:last-child,
    .right-products-block {
        margin: 10px auto;
    }
    .slider.slider-nav {
        width: 80px;
    }
    .left-products-block .small-products-block,
    .right-products-block .small-products-block {
        margin-bottom: 0;
    }
    .slider-nav__image {
        height: 80px;
    }
    .slider.slider-nav, 
    .slider-nav .slick-list {
        width: 70px;
    }
}
@media all and (max-width: 480px) {
    .products-items .slider-products,
    .small-products-block .slider-products,
    .slider__image  {
        max-width: 300px;
        width: 100%;   
        height: 400px; 
    }
}