.stores .bar-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.store-block {
    flex: 1;
}
.store-block:not(:first-child) {
    margin-left: 20px;
}
.store-block__title,
.contacts-block__title {
    color: #575153;
    font-size: 18px;
}
.store-block__subtitle,
.contacts-block__subtitle {
    color: #727272;
    font-size: 13px;
}
.store-block__subtitle,
.store-block__title,
.contacts-block__subtitle,
.contacts-block__title {
    text-transform: uppercase;
}
.store-block__description,
.contacts-block__description {
    color: #8e8c8c;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.store-block__view-btn a {
    color: #454647;
    border: 2px solid #747475;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
}
.store-block__view-btn {
    margin-top: 40px;
}
.store-block__view-btn:hover a {
    color: #ffffff;
    background-color: #00c8c8;
    border-color: #00c8c8;
}
.contacts {
    display: flex;
}
.contacts-block {
    background-color: #f8f8f8;
    padding: 30px 40px;
    flex: 1;
}
.map iframe{
    border: 0;
    height: 100%;
    width: 100%;
    min-height: 600px;

}
.map {
    flex: 3;
}
.contacts-block__web-site a,
.contacts-block__email a,
.contacts-block__working-schedule,
.contacts-block__phone-number,
.contacts-block__location {
    color: #8e8c8c;
    font-size: 15px;
    position: relative;
    padding-left: 30px;
}
.contacts-block__web-site a::before,
.contacts-block__email a::before,
.contacts-block__working-schedule::before,
.contacts-block__phone-number::before,
.contacts-block__location::before {
    position: absolute;
    width: 25px;
    font-family: 'icomoon';
    left: 0;
}
.contacts-block__web-site a::before {
    content: '\e908';
}
.contacts-block__email a::before {
    content: '\e907';
}
.contacts-block__working-schedule::before {
    content: '\e94e';
}
.contacts-block__phone-number::before {
    content: '\e942';
}
.contacts-block__location::before {
    content: '\e947';
}
.contacts-block__social-networks a {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    display: block;
    line-height: 1.7;
}
.contacts-block__social-networks ul {
    padding-left: 0;
    margin-top: 60px;
}
.contacts-block__social-networks li {
    display: inline-block;
    background-color: #727272;
    border-radius: 10em;
    margin: 0 5px;
}
.contacts-block__social-networks li:hover {
    background-color: #00c8c8;
}
.contacts-block__social-networks a,
.contacts-block__social-networks li {
    width: 35px;
    height: 35px;
}
.contacts-block__social-networks a::before {
    position: absolute;
    width: 35px;
    height: 35px;
    font-family: 'icomoon';
    left: 0;
    content: '';
    text-align: center;
}
.contacts-block__social-networks .contacts-block__social-networks_facebook::before {
    content: '\ea90';
}
.contacts-block__social-networks .contacts-block__social-networks_instagram::before {
    content: '\ea92';
}
.contacts-block__social-networks .contacts-block__social-networks_twitter::before {
    content: '\ea96';
}
.contacts-block__social-networks .contacts-block__social-networks_pinterest::before {
    content: '\ead1';
}
@media all and (max-width: 1200px) {
    .contacts {
        flex-direction: column;
    }
    .stores {
        margin: 0 10px;
    }
    .map {
        margin: 0 10px;
    }
    .contacts-block {
        padding: 30px 10px;
    }
}
@media all and (max-width: 760px) {
    .store-block:not(:first-child) {
        margin-left: 0;
    }
    .stores .bar-container {
        flex-direction: column;
    }
    .store-block {
        margin: 20px 0;
    }
}