.lookbook-couple,
.lookbook-items,
.lookbook-row {
    display: flex;
    justify-content: space-between;
}
.lookbook-items {
    flex-direction: column;
    margin: 40px auto
}
.lookbook-row {
    margin: 10px 0;
}
.lookbook-row img {
    max-width: 380px;
    width: 100%;
    height: 420px;
}
.lookbook-item {
    position: relative;
    flex-grow: 1;
    max-width: 380px;
}
.lookbook-big-banner,
.lookbook-item,
.lookbook-small-banner {
    margin: 0 5px;
}
.lookbook-item .lookbook-item__id {
    top: 10px;
    left: 10px;
}
.lookbook-item__info-btn {
    top: 50%;
    left: 50%;
}
.lookbook-item__favorites-btn {
    top: 50%;
    right: 50%;
}
.lookbook-item__favorites-btn,
.lookbook-item__info-btn {
    transform: translate(-150%, -50%);
}
.lookbook-small-banner {
    max-width: 780px;
    background-image: url(../images/small-lookbook-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 420px;
    flex-grow: 2;
}
.lookbook-big-banner {
    max-width: 1185px;
    background-image: url(../images/lookbook-big-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 420px;
    flex-grow: 3;
}
.lookbook-big-banner span {
    font-family: 'icomoon';
}
.lookbook-big-banner__subtitle,
.lookbook-big-banner__text,
.lookbook-big-banner__shop-now,
.lookbook-big-banner__title,
.lookbook-small-banner__subtitle,
.lookbook-small-banner__title,
.lookbook-small-banner__text,
.lookbook-small-banner__view-now {
    margin: 20px 15px;
}
.lookbook-big-banner__subtitle,
.lookbook-big-banner__shop-now,
.lookbook-big-banner__title,
.lookbook-small-banner__title,
.lookbook-small-banner__subtitle,
.lookbook-small-banner__view-now {
    text-transform: uppercase;
}
.lookbook-small-banner__title,
.lookbook-big-banner__title {
    font-size: 40px;
    color: #575153;
    font-weight: normal;
}
.lookbook-big-banner__subtitle,
.lookbook-small-banner__subtitle {
    font-size: 12px;
    color: #727272;
    margin-top: 0;
}
.lookbook-big-banner__text,
.lookbook-small-banner__text {
    color: #939192;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.lookbook-small-banner__view-now,
.lookbook-big-banner__shop-now {
    text-decoration: none;
    color: #454647;
    border: 2px solid #454647;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 5px;
    display: inline-block;
}
.lookbook-small-banner__view-now:hover,
.lookbook-big-banner__shop-now:hover {
    color: #ffffff;
    border-color: #00c8c8;
    background-color: #00c8c8;
}
@media all and (max-width: 1200px) {
    .lookbooks__menu {
        margin: 50px 10px;
    }
    .lookbook-row {
        flex-direction: column ;
        margin: unset;
    }
    .lookbook-couple {
        justify-content: stretch;
    }
    .lookbook-row:last-child {
        flex-direction: row;
    }
    .lookbook-couple,
    .lookbook-small-banner {
        margin: 10px auto;
    }
    .lookbook-big-banner {
        max-width: 700px;
        margin: 0 auto;
    }
    .lookbook-big-banner__title {
        font-size: 30px;
    }
    .lookbook-small-banner__subtitle {
        font-size: 10px;
    }
    .lookbook-row:last-child {
        justify-content: stretch;
        margin: 10px auto;
    }
    .lookbook-big-banner__text {
        font-size: 12px;
        width: 40%;
    }
}
@media all and (max-width: 760px) {
    .lookbook-couple {
        flex-direction: column;
    }
    .lookbook-row:last-child {
        flex-direction: column-reverse;
    }
    .lookbook-row:last-child .lookbook-item {
        margin: 10px auto;
    }
    .lookbook-row:last-child {
        justify-content: stretch;
        margin: unset;
    }
    .lookbook-couple .lookbook-item:first-child {
        margin-bottom: 10px;
    }
    .lookbook-couple .lookbook-item:last-child {
        margin-top: 10px;
    }
    .lookbooks__menu > li {
        margin-top: 10px;
    }
}
@media all and (max-width: 480px) {
    .lookbook-small-banner,
    .lookbook-big-banner {
        display: none;
    }
    .lookbooks__menu {
        display: flex;
        flex-direction: column;
    }
}