.current-section {
    color: #00c8c8;
}
.product-menu {
    padding-left: 0;
    background-color: #f8f8f8;
}
.product-menu li {
    display: inline-block;
    margin-right: 25px;
    padding: 20px 15px;
}
.product-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6c6769;
    font-weight: bold;
}
.product-menu li:hover {
    background-color: #333333;
}
.product-menu li:hover a {
    color: #ffffff;
}
.product-description {
    min-height: 300px;
}
.product-description__title,
.product-description__text {
    margin-left: 20px;
}
.product-description__title {
    text-transform: uppercase;
    color: #858585;
    font-size: 13px;
}
.product-description__text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8e8c8c;
}
.product-view__price_sale {
    text-decoration: line-through;
}
.product-view {
    display: flex;
}
.product-view__info {
    flex: 1;
    margin-left: 20px;
}
.product-view__slider {
    flex: 1;
}
.product-view__specification {
    color: #575153;
    text-transform: uppercase;
    font-weight: bold;
}
.product-view__availability,
.product-view__product-code {
    font-weight: normal;
}
.product-view__availability,
.product-view__product-code {
    color: #8c8c8c;
    text-transform: none;
}
.product-view__specification p,
.product-view__tags {
    font-size: 0.9em;
}
.product-view__tags {
    display: inline;
    padding-left: 0;
}
.product-view__tags li {
    display: inline-block;
}
.product-view__tags a {
    color: #00c8c8;
    text-transform: capitalize;
    text-decoration: none;
}
.product-view__title {
    text-transform: uppercase;
    color: #575153;
    margin-bottom: 0;
}
.product-view__price {
    color: #9a9a9a;
    font-size: 1.5em;
}
.product-view__price_sale {
    margin-right: 15px;
}
.product-view__description ul {
    list-style-type: disc;
    padding-left: 20px;
}
.product-view__description {
    color: #969494;
    margin: 30px 0;
    font-size: .9em;
}
.product-view__info {
    font-family: 'Roboto', sans-serif;
}
.product-view__qty,
.product-view__colour,
.product-view__size {
    display: inline-block;
    margin-right: 30px;
}
.product-view__settings label {
    display: block;
    color: #575153;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.product-view__qty input {
    width: 40px;
    text-align: center;
}
.product-view__settings input,
.product-view__settings select {
    color: #bbbbbb;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #ffffff;
    height: 30px;
}
.product-view__settings select {
    width: 150px;
}
.product-view__settings option {
    background-color: #ffffff;
    color: #000000;
}
.product-view__add-to-lookbook,
.product-view__add-to-cart {
    border: 2px solid #737373;
}
.product-view__add-to-lookbook,
.product-view__add-to-cart,
.product-view__add-to-compare {
    padding: 10px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #454647;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}
.product-view__add-to-lookbook {
    margin-left: 15px;
}
.product-view__buttons {
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
.product-view__buttons a {
    text-decoration: none;
}
.product-view__buttons span {
    font-family: 'icomoon';
}
.product-view__add-to-lookbook:hover,
.product-view__add-to-cart:hover,
.product-view__add-to-compare:hover {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}
.product-view__reviews,
.product-view__add-review,
.product-view__share {
    display: inline-block;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: #727272;
    font-weight: bold;
}
.product-view__header a {
    text-decoration: none;
    color: #727272;
}
.product-view__header a:hover {
    color: #00c8c8;
}
.product-view__share a {
    font-family: 'icomoon';
    font-size: 1.2em;
}
.product-view__share li {
    display: inline-block;
    margin-right: 10px;
}
.product-view__share ul {
    padding-left: 0;
}
.product-view__add-review::after,
.product-view__add-review::before {
    content: '|';
    margin: 0 10px;
}
.product-slider {
    margin-top: 20px;
}
.product-slider,
.product-slider__item {
    max-width: 400px;
    max-height: 550px;
}
.product-slider img {
    display: block;
    max-width: 100%;
    max-height: 550px;
    height: 100%;
}
.slick-slider {
    max-width: 400px;
}
.slick-next,
.slick-prev {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/arrows.png) no-repeat;
    background-size: 75px;
    border: none;
    z-index: 1;
    color: transparent;
}
.slick-next {
    background-position: top 6px left -35px;
    right: 0;
}
.slick-prev {
    background-position: top 6px right -35px;
}
.slick-next:hover,
.slick-prev:hover {
    background-color: #00c8c8;
}
.slick-next:focus,
.slick-prev:focus,
.product-slider__item:focus {
    outline: none;
}
.product-view-stars {
    width: 80px;
    background: url(../images/stars.png);
    height: 16px;
    padding-left: 0;
    display: inline-flex;
    margin: 0;
}
.product-view-stars li {
    display: inline-block;
    height: 16px;
}
.product-view-stars li.current {
    z-index: 1;
    background: url(../images/stars.png) bottom right;
    width: 80%;
}
@media all and (max-width: 1000px) {
    .product-view {
        flex-direction: column;
    }
    .product-view__info {
        margin: 0 10px;
    }
    .product-slider {
        margin: 10px auto;
    }
    .product-menu {
        margin: 0 10px;
    }
    .product-description__text,
    .product-description__title {
        margin: 20px 10px;
    }
}
@media all and (max-width: 760px) {
    .product-view__add-to-cart,
    .product-view__add-to-compare,
    .product-view__add-to-lookbook {
        font-size: 0.9em;
    }
}
@media all and (max-width: 480px) {
    .product-view__add-to-lookbook {
        margin-left: 0;
    }
    .product-view__reviews,
    .product-view__add-review,
    .product-view__share {
        display: block;
        margin-top: 10px;
    }
    .product-view__add-review::after,
    .product-view__add-review::before {
        content: none;
    }
    .product-slider.slick-slider,
    .slick-list,
    .product-slider img {
        max-width: 300px;
        max-height: 400px;
    }
    .product-view__add-to-cart,
    .product-view__add-to-compare,
    .product-view__add-to-lookbook {
        display: block;
        max-width: 200px;
    }
}
