.main .bar-container {
    display: flex;
}
.sign-in__title,
.register__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #575153;
}
.register,
.sign-in {
    width: 48%;
    margin-left: 20px;
}
.sign-in__email,
.sign-in__password,
.register__email,
.register__password,
.register__confirm-password {
    height: 30px;
    width: calc(100% - 10px);
    padding-left: 10px; 
}
.sign-in__email::placeholder,
.sign-in__password::placeholder,
.register__email::placeholder,
.register__password::placeholder,
.register__confirm-password::placeholder {
    color: #bbb9b9;
}
.sign-in__form,
.register__form {
    font-size: 12px;
    width: 95%;
}
.register__form label {
    width: 100%;
    font-size: 12px;
}
.register__form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0;
}
.register__accept {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.register__accept label {
    margin-left: 5px;
}
.sign-in__button,
.register__button {
    color: #737373;
    border: 2px solid #737373;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 15px 25px;
}
.sign-in__button:hover,
.register__button:hover {
    background-color: #00c8c8;
    color: #ffffff;
    border-color: #00c8c8;
}
.sign-in__button:active,
.register__button:active {
    outline: none;
}
.sign-in__forgot-password,
.register__privacy-link {
    color: #00c8c8;
    font-size: 14px;
    text-decoration: none;
}
.sign-in__forgot-password {
    padding: 15px 0;
}
.sign-in__form,
.register__form {
    margin: 40px 0;
}
.sign-in__form input,
.register__form input {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}
.sign-in__forgot-password {
    float: right;
}
.register__privacy {
    width: 45%;
    float: right;
    text-align: right;
}
.register__privacy,
label {
    color: #a5a3a3;
}
.sign-in__form input:focus,
.register__form input:focus {
    outline: none;
}
@media all and (max-width: 1000px) {
    .main .bar-container {
        flex-direction: column;
    }
    .register,
    .sign-in {
        width: 90%;
    }
    .register__privacy {
        width: 60%;
    }
}
@media all and (max-width: 760px) {
    .sign-in__forgot-password,
    .register__privacy {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .sign-in__forgot-password {
        display: block;
    }
    .register__privacy {
        text-align: start;
    }

}